@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tfca5j');
  src:  url('fonts/icomoon.eot?tfca5j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tfca5j') format('truetype'),
    url('fonts/icomoon.woff?tfca5j') format('woff'),
    url('fonts/icomoon.svg?tfca5j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Hamburger:before {
  content: "\e900";
}
.icon-Close:before {
  content: "\e921";
}
.icon-plusIcon:before {
  content: "\e901";
}
.icon-Pause:before {
  content: "\e902";
}
.icon-Play:before {
  content: "\e903";
}
.icon-Youtube:before {
  content: "\e904";
}
.icon-Dot:before {
  content: "\e905";
}
.icon-Check:before {
  content: "\e906";
}
.icon-Users1:before {
  content: "\e907";
}
.icon-Users:before {
  content: "\e908";
}
.icon-Squares:before {
  content: "\e909";
}
.icon-Ratio:before {
  content: "\e90a";
}
.icon-LeftP:before {
  content: "\e90b";
}
.icon-Star:before {
  content: "\e90c";
}
.icon-Movie:before {
  content: "\e90d";
}
.icon-Plus:before {
  content: "\e90e";
}
.icon-Play2:before {
  content: "\e90f";
}
.icon-LeftArrow:before {
  content: "\e910";
}
.icon-Arrow-2:before {
  content: "\e911";
}
.icon-Arrow:before {
  content: "\e912";
}
.icon-Twitter:before {
  content: "\e913";
}
.icon-Facebook:before {
  content: "\e914";
}
.icon-Instagram:before {
  content: "\e915";
}
.icon-LinkedIn:before {
  content: "\e916";
}
.icon-BookmarkOn:before {
  content: "\e917";
}
.icon-BookmarkOff:before {
  content: "\e918";
}
.icon-Logout1:before {
  content: "\e919";
}
.icon-Logout2:before {
  content: "\e91a";
}
.icon-plusIcon1:before {
  content: "\e91b";
}
