@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
    .bg-body-color {
        @apply bg-primary;
    }

    .shadow-card{
      --tw-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
      --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .header-shadow{
      --tw-shadow: 0px 4px 6px rgba(23, 27, 35, 0.5);
      --tw-shadow-colored: 0px 4px 6px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .error {
      @apply text-xs text-red-500 mt-1;
  }

  .custom-prev{


    color: #fff !important; /* Change to your desired icon color */
    top: 14px !important;
    right: 30px !important;
    left: auto !important;
   
    
}

 .custom-next{

  @apply !right-0 !left-auto !top-[14px] !text-white  ;

 }

.swiper-button-next:after, .swiper-button-prev:after{
  @apply  !text-2xl;
  

}
.swiper-container {
  width: 100%;
  overflow: hidden;
}



.hero-overlay {

@apply bg-[radial-gradient(at_right_center,rgba(78,113,143,0)_40%,rgba(0,32,43,1)_75%)] absolute inset-0 z-10
}




.swiperHero .swiper-pagination-bullet-active{
   @apply rounded-lg bg-white w-5 h-2 ;
}


  .form-radio {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-print-color-adjust: exact;
            color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    flex-shrink: 0;
    border-radius: 100%;
    border-width: 2px;
  }
  
  .form-radio:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @media not print {
    .form-radio::-ms-check {
      border-width: 1px;
      color: transparent;
      background: inherit;
      border-color: inherit;
      border-radius: inherit;
    }
  }
  
  .form-radio:focus {
    outline: none;
  }
  
  .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-print-color-adjust: exact;
            color-adjust: exact;
    background-repeat: no-repeat;
    padding-top: 0.5rem;
    padding-right: 2.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
  }
  
  .form-select::-ms-expand {
    color: #a0aec0;
    border: none;
  }
  
  @media not print {
    .form-select::-ms-expand {
      display: none;
    }
  }
  
  @media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
    .form-select {
      padding-right: 0.75rem;
    }
  }

    }