@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
    .bg-body-color {
        @apply bg-primary;
    }

    .shadow-card{
      --tw-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
      --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .header-shadow{
      --tw-shadow: 0px 4px 6px rgba(23, 27, 35, 0.5);
      --tw-shadow-colored: 0px 4px 6px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .error {
      @apply text-xs text-red-500 mt-1;
  }

  .custom-prev{


    color: #fff !important; /* Change to your desired icon color */
    top: 14px !important;
    right: 30px !important;
    left: auto !important;
   
    
}

 .custom-next{

  @apply !right-0 !left-auto !top-[14px] !text-white  ;

 }

.swiper-button-next:after, .swiper-button-prev:after{
  @apply  !text-2xl;
  

}
.swiper-container {
  width: 100%;
  overflow: hidden;
}



.hero-overlay {

@apply bg-[radial-gradient(at_right_center,rgba(78,113,143,0)_40%,rgba(0,32,43,1)_75%)] absolute inset-0 z-10
}




.swiperHero .swiper-pagination-bullet-active{
   @apply rounded-lg bg-white w-5 h-2 ;
}



    }