    /* video player olduğu div'in css'i */
    .video-player
    {
    position: relative;
    }

    /* ses slider'ın class'ı */
    .controls__slider
    {
    width: 10px ;
    height: 30px;
    max-width: 120px;
    }

    /* video player'ın control panelinin css'i */
    .controls
    {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.5);
    transform: translateY(0);
    padding-left: 10px;
    padding-right: 10px;
    }

    /* video player'ın controllerinin css'i controls class'ının çocuklarına uygulanacak */
    .controls > *
    {
    flex: 1;
    }

    /*  progress barın css'i */
    .progress
    {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1 1 100%;
    margin: 0 10px;
    background: rgba(255,255,255,0.5);
    height: 15px;
    }

    /* progress barın dolma css'i */
    .progress__filled
    {
    height: 5px;
    background: red;
    }

    /* ses ayarlarının slider'ı */
    input[type=range]
    {
    -webkit-appearance: none;
    background: transparent;
    width: auto;
    margin: 0 5px;
    }

    /* slider focuslandığında outline'ı yok ediyor */
    input[type=range]:focus
    {
    outline: none;
    }

    /*  webkit tabanlı taracılar için slider'ın arka tarafı*/
    input[type=range]::-webkit-slider-runnable-track
    {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
    }

    /*  webkit tabanlı taracılar için slider'ın çekildiği kısmı */
    input[type=range]::-webkit-slider-thumb
    {
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50px;
    background: red;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    }

    /*  mozilla tabanlı taracılar için slider'ın arka tarafı */
    input[type=range]::-moz-range-track
    {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
    }

    /*  mozilla tabanlı taracılar için slider'ın çekildiği kısmı */
    input[type=range]::-moz-range-thumb
    {
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50px;
    background: red;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    }

    /* ilerleyen zamanı gösteren label'ın css'i */
    .time
    {
    margin-top: 3px;
    flex: 0 0 20px;
    color: white;
    margin-top: 8px;
    width: 10px;
    }

    /* kalan zamanı gösteren label'ın css'i */
    .time2
    {
    margin-top: 3px;
    flex: 0 0 20px;
    color: white;
    margin-top:0;
    }

    /* play-pause butonunu'nun css'i */
    .toggleButton
    {
    position: absolute;
    top: 43%;
    left: 48%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    width: 3em;
    height: 3em;
    white-space: nowrap;
    line-height: 0;
    }

    /* 10 saniye geriye alma butonunun css'i */
    .time_skipL
    {
    position: absolute;
    top: 43%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    width: 3em;
    height: 3em;
    white-space: nowrap;
    line-height: 0;
    }

    /* 10 saniye ileriye alma butonunun css'i */
    .time_skipR
    {
    position: absolute;
    top: 43%;
    right: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    width: 3em;
    height: 3em;
    white-space: nowrap;
    line-height: 0;
    }

    /* hız ayarlamadaki dropdown'un css'i */
    .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    display: none;
    bottom: 100%;
    margin-bottom: 8px;
    z-index: 10;
    }

    /* hız ayarlamadaki dropdown'un içindeki item'ların css'i */
    .dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    }

    /* hız ayarlamadaki dropdown'un içindeki item'ların hover css'i */
    .dropdown-item:hover {
    background-color: #f0f0f0;
    }

    /* hız ayarlamadaki dropdown'un içindeki item'ların seçili olduğunda css'i */
    .selected {
    font-weight: bold;
    color: #1D4ED8;
    }

    /* hız ayarlamadaki dropdown'un açık olduğunda css'i */
    .dropdown.open .dropdown-menu {
    display: block;
    }

    /* kontrol araçlarının opacity'sini değiştiren css */
    .controls__button, .controls, .dropdown {
        transition: opacity 0.5s;
    }
