
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .video-player {
    position: relative;
    width: 100%;
    height: 100%;
}

.progress {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}

.progress__filled {
    height: 5px;
}

  .controls__slider {
    width: 10px ;
    height: 30px;
  }

  .sounds{
    max-width: 120px;
  }

  .controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.5);
    transform: translateY(0);
    padding-left: 10px;
    padding-right: 10px;
  }

  .controls > * {
    flex: 1;
  }
  .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    height: 15px;
  }
  .progress__filled {
    width: 50%;
    background: red;
    flex: 0;
    flex-basis: 0%;
  }

    input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: auto;
    margin: 0 5px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50px;
    background: red;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
  }

  input[type=range]::-moz-range-thumb {
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50px;
    background: red;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
  }

    .time
    {
    margin-top: 3px;
    flex: 0 0 20px;
    }

    .time2
    {
    margin-top: 3px;
    flex: 0 0 20px;

    }

    .toggleButton{
    position: absolute;
    top: 43%;
    left: 48%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    width: 3em;
    height: 3em;
    white-space: nowrap;
    line-height: 0;
    }

    .time_skipL{
    position: absolute;
    top: 43%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    width: 3em;
    height: 3em;
    white-space: nowrap;
    line-height: 0;
    }

    .time_skipR{
    position: absolute;
    top: 43%;
    right: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    width: 3em;
    height: 3em;
    white-space: nowrap;
    line-height: 0;
    }

  .playbackRate{
    max-width: 100px;
  }

  select.playbackRate {
    color: rgb(172, 16, 16);
  }
  select.playbackRate option {
    color: rgb(172, 16, 16);
  }

    .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    display: none;
    bottom: 100%;
    margin-bottom: 8px;
    z-index: 10;
    }

    .dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    }

    .dropdown-item:hover {
    background-color: #f0f0f0;
    }

    .selected {
    font-weight: bold;
    color: #1D4ED8;
    }

    .dropdown.open .dropdown-menu {
    display: block;
    }
